.home-container {
  width: 75%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  row-gap: 5px;
  column-gap: 5px;
  margin-left: 20%;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px lightgrey;
}

 .home-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(178, 119, 234);
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.fa-brands {
  color: white;
  font-size: 20px;
}

.fa-solid {
  color: white;
  font-size: 20px;
}

.home-container > .home-link > p {
  color: white;
}

.home-img{
    width: 100%;
    height: 100px;
    background-image: url('https://slidemodel.com/wp-content/uploads/20608-01-fintech-industry-powerpoint-templates-16x9-1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;

}

.more-link {
  width: 75%;
  height: 90px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(178, 119, 234);
  margin-top: 10px;
  margin-left: 20%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px grey;
}

 .more-link > p {
  color: white;
}



.home-img > h2 {
  color: white;
  font-size: 50px;
  margin-top: 40px;
}

.about-container {
  width: 75%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
  box-shadow: 2px 2px 10px 2px lightgray;
}

.about-container >  h2{
    color: rgb(168, 95, 236);
}

.about-container > P{
    line-height: 25px;
}

.price-container {
  width: 75%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 7fr);
  margin-left: 20%;
  padding: 10px;
  flex-direction: column;
}


.price-img{
    width: 75%;
    height: 300px;
    background-image: url('https://slidebazaar.com/wp-content/uploads/2022/09/FinTech-PowerPoint-Template.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}

.price-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
    margin: 3px;
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    
}

.price-link > .fa-solid{
    color: blueviolet;
    font-size: 15px;
}

.service-container > .form-container > form{
  box-shadow: 0px 0px 10px 0px blueviolet;
  margin: 10px 0px;
}

.form-container > h2{
  color: blueviolet;
  text-shadow: 2px 2px 2px white;
}

.service-container  {
  width: 100%;
  background-image:url('https://images.pexels.com/photos/4482900/pexels-photo-4482900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0px;
}



@media screen and (max-width: 650px) {
  .home-container {
    width: 70%;
    margin-left: 27%;
  }

  .more-link{
    width: 70%;
    margin-left: 27%;
  }

 
.home-container > .home-link > p {
  font-size: 10px;
}

  .home-img > h2{
    font-size: 16px;
    margin-top: 40px; 
  }

  .about-container {
    width: 70%;
    margin-left: 27%;
  }

  .price-container {
    width: 70%;
    margin-left: 27%;
    display: grid;
    grid-template-columns: repeat(1, 14fr);
  }

  .price-img{
    width: 70%;
    margin-left: 27%;
  }

  .price-img > h2{
    font-size: 30px;
  }

  .price-link{
    width: 100%;
  }

  .service-container{
    width: 75%;
    margin-left: 25%;
  }
}
