body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-container {
  width: 15%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  top: 0%;
}

.logo > p {
  color: white;
  font-weight: bolder;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.nav-link > .link {
  margin: 8px;
  color: black;
  padding: 10px;
}

.nav-link > .link:hover {
  background-color: white;
  border-radius: 3px;
  color:black ;
}

span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container > h1 {
  margin: 15px;
}

.form-container > form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 8px;
}

.form-container > form > p {
  margin: 8px;
}

.form-container > form  > input {
  width: 90%;
  height: 40px;
  margin: 5px 0px;
  border: 1px solid lightgray;
  padding-left: 10px;
  outline: none;
}

.pass{
  display: flex;
  gap: 5px;
  background-color: white;
  width: 90%;
  height: 40px;
  padding: 0px 10px;
  margin: 5px 0px;
}

.pass > input{
  width: 100%;
  outline: none;
  border: none;
}

 .pass > span > .fa-solid{
  color: blueviolet;
}

.confirm-pass{
  display: flex;
  gap: 5px;
  background-color: white;
  width: 90%;
  height: 40px;
  padding: 0px 10px;
  margin: 5px 0px;
}

.confirm-pass > .span{
  color: blueviolet;
}

.confirm-pass > span > .fa-solid{
  color: blueviolet;
}



.confirm-pass > input{
  width: 100%;
  outline: none;
  border: none;
  margin: 8px 0px;
}



.fa{
  color: blueviolet;
  margin-top: 10px;
}

.form-container > form > button {
  width: 90%;
  height: 35px;
  margin-bottom: 15px;
  background-color: blueviolet;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.form-container > form > select {
  width: 90%;
  height: 40px;
  border: 1px solid lightgray;
  margin: 5px 0px;
  padding-left: 10px;
  outline: none;
}

.form-container > form > textarea{
  width: 90%;
  height: 100px;
  border: 1px solid lightgray;
  margin: 5px 0px;
  padding: 10px;
  outline: none;
}

.form-container > form > span{
  margin: 5px;
}

.form-container > form > span > p{
  color: black;
}

.handle-button {
  cursor: pointer;
}

.nav-link > .link{
  color: white;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 650px) {
  .form-container > form {
    width: 97%;
  }


  .logo > p {
    font-size: 10px;
  }

  .mobile-link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    position: absolute;
    flex-direction: column;
  }

  .nav-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.nav-link > .link{
  color: white;
}

  span{
    display: flex;
    margin-top: 100px;
  }

}
